include requirements.txt
include chromosight/kernels/*
include chromosight/cli/logo.txt
recursive-exclude data_test *
recursive-exclude tests *
recursive-exclude chromosight/utils/format_converters *
